$bg: var(--bg);
$bg1: var(--bg1);
$bg2: var(--bg2);
$bg3: var(--bg3);

$text1: var(--t1);
$text1_1: var(--t2);
$text2: var(--t3);
$text3: var(--t4);
$text3_1: var(--t5);
$text4: var(--t6);
$text5: var(--t7);
$text6: var(--t8);

$accent: #74a4db;
