footer {
  $socialIcon_size: 20px;
  margin: $m_footer;
  padding: $p_footer;
  background: $bg3;
  .wrapper {
    position: relative;
    ul.socials {
      position: absolute;
      right: 0;
      top: 0;
      .social {
        margin: 0 5px;
        float: right;
        &.fa {
          padding: 10px;
          font-size: $socialIcon_size;
          width: $socialIcon_size;
          text-align: center;
          text-decoration: none;
          border-radius: 50%;
          background: $text5;
          color: $text6;
          transition: $transition;
          &:hover {
            background: $accent;
          }
        }
      }
    }
    h1 {
      color: $text2;
    }
    p {
      color: $text3;
    }
    a {
      text-decoration: underline;
    }
  }
}
