@function Aspect_Ratio($y, $x) {
    @return math.div($x,$y)*100;
}

@mixin setAspectRatio($AspectRatio) {
    padding-top: #{$AspectRatio+"%"};

    .imgResize {
        top: #{"-"+math.div($AspectRatio,4)+"%"};

        img {
            height: #{math.div($AspectRatio,2)+100+"%"};
        }
    }
}

.home.title {
    text-align: left;
    margin: $m_home-title;
    line-height: 1;
    color: $text1;
}

.homeInfo {
    position: relative;
    height: 100vh;
    display: block;
    header {
        margin: 0;
        display: block;

        .title {
            display: none;
        }

        nav {
            ul {
                text-align: center;
                padding: 10px 0 0 0;

                li {
                    margin: 0 10px 0 10px;
                    display: inline-block;
                }
            }
        }
    }

    .content {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
        font-style: italic;
        text-transform: uppercase;
        color: $text1;
        .title {
            &.glitch {
                --GlitchOffset: 3;
            }

            font-family: Arial,
            Helvetica,
            sans-serif;
            font-style: italic;
            font-size: 150px;
            white-space: nowrap;
        }

        .text {
            margin-top: 5px;
            white-space: normal;
            width: 80%;

            &.glitch {
                --GlitchOffset: .4;
            }
        }
    }
}

.downArrow{
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    width: 100px;
    height: 50px;

    &::after, &::before{
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        width: 50.1%;
        height: 2px;
        background: $text1;
        white-space: nowrap;
        box-shadow: 0px 3px 0px 1px #ff0000, 0px -3px 0px 1px #0000ff;
    }
    &::before{
        left: 0;
        transform: skewY(30deg);
    }
    &::after{
        right: 0;
        transform: skewY(-30deg);
    }

}

.blogWrapper {
    padding-top: 20px;
    text-align: center;
}

.more {
    display: block;
    margin: 50px 0 50px 0;
    font-size: 20px;
    background: $accent;
    color: $text6;
    opacity: 0.9;
    line-height: 1;
    padding: 15px 35px;
    transition: $transition;
    &:hover{
        opacity: 1;
    }


    &.glitchOnce{
        --GlitchTime: 350;
        --GlitchOffset: 5;
    }


}

.line {
    margin: $m_home-line;
    border-bottom: 2px solid $text1;
}

.portfolioWrapper {
    text-align: center;
    margin: $m_home-portfolioWrapper;
}
