.portfoliopost {
  .title {
    margin: $m_portfoliopost-title;
    line-height: 1.3;
    color: $text1;
    font-size: 45px;
    .info {
      color: $text4;
      margin-top: 25px;
    }
  }
  .titleImg {
    position: relative;
    margin: $m_portfoliopost-titleImg;
    animation: 0.7s ease-out 0s 1 smoothSlideIn;
    img {
      margin: 0 auto;
      position: relative;
      max-height: 80vh;
      max-width: 100%;
      width: auto;
    }
  }

  .content {
    position: relative;
    margin: 0 25%;
  }
}
