$m_header: var(--m_header);
$m_about: var(--m_about);
$m_blog: var(--m_blog);
$m_blog-title: var(--m_blog-title);
$m_blogpost-title: var(--m_blogpost-title);
$m_blogpost-titleImg: var(--m_blogpost-titleImg);
$m_content: var(--m_content);
$m_blogpost-categories: var(--m_blogpost-categories);
$m_default: var(--m_default);
$m_home-homeInfo: var(--m_home-homeInfo);
$m_home-title: var(--m_home-title);
$m_home-line: var(--m_home-line);
$m_home-portfolioWrapper: var(--m_home-portfolioWrapper);
$m_portfolio: var(--m_portfolio);
$m_portfolio-title: var(--m_portfolio-title);
$m_portfoliopost-title: var(--m_blogpost-title);
$m_portfoliopost-titleImg: var(--m_portfoliopost-titleImg);
$m_footer: var(--m_footer);
$p_footer: var(--p_footer);
$titleFontSize: var(--t_titleSize);
